.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lastUpdated {
  color: grey;
}

.songs {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}

.songAlbumArt {
  width: 200px !important;
  height: auto;
}

.song {
  width: 200px !important;
}

@media (max-width: 600px) {
  .songs {
    justify-content: center;
  }

  .songAlbumArt {
    width: 40vw !important;
  }

  .song {
    width: 40vw !important;
  }
}

@media (max-width: 400px) {
  .songs {
    margin: 0px;
  }
}
