.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerText {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: grey;
}

.songs {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}

.songAlbumArt {
  width: 200px !important;
  height: auto;
}

.song {
  width: 200px !important;
}

@media (max-width: 600px) {
  .songs {
    justify-content: center;
    gap: 10px;
    margin: 0px;
  }

  .songAlbumArt {
    width: 45vw !important;
  }

  .song {
    width: 45vw !important;
  }
}
