.copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin: 40px 0px;
  flex-direction: column;
  font-weight: bold;
}

.name {
  margin-top: 5px;
}

.link,
.name {
  font-size: 14.5px;
}

.symbol {
  padding-right: 3px;
}
