.description {
  padding: 15px 0px;
}

.games {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.gameInfo {
  font-weight: bold;
}

.gameTitle {
  padding-bottom: 5px;
  text-decoration: underline;
  font-size: 20px;
}

@media (max-width: 678px) {
  .game {
    flex-direction: column;
  }

  .games {
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .games {
    height: 830px; /* 207.5px each */
    overflow-y: hidden;
  }
}
