.nav {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  position: fixed;
  background-color: rgba(30, 31, 33, 0.88);
  z-index: 99;
  border-radius: 10px;
  top: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 98%;
  overflow: hidden;
  border: 1px solid var(--border);
}

.logo {
  width: 70px;
  height: auto;
}

.name {
  margin-top: 8px;
  font-weight: 700;
  line-height: 75%;
}

.link {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 10px;
}

.nameAndDescription {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  color: var(--foreground);
}

.socials {
  padding-top: 5px;
  padding-left: 30px;
  display: flex;
  gap: 15px;
}

@media (prefers-color-scheme: light) {
  .nav {
    background-color: rgba(221, 221, 221, 0.8);
  }
}

@media (max-width: 678px) {
  .socials {
    display: none;
  }

  .nav {
    justify-content: center;
    padding-right: 13px;
  }

  .name {
    font-size: 30px;
  }
}
