.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.titlePhoto {
  margin-top: 15px;
  width: 100%;
  height: auto;
}

.githubLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.content {
  margin-top: 40px;
}

.content h2 {
  padding: 10px 0px;
  text-decoration: underline;
}

.overviewImage {
  width: 100%;
  height: auto;
}

.benefit {
  color: #30ce75;
}

.customList {
  display: flex;
  flex-direction: column;
}

.customList b {
  padding: 10px 0px;
}

.customList p {
  padding-left: 30px;
}

@media (prefers-color-scheme: light) {
  .header {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media (max-width: 600px) {
  .header {
    margin-top: 20px;
  }

  .titleText {
    font-size: 5vw;
  }
}
