.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  max-width: 800px;
  width: 100%;
  padding: 10px;
}

.header {
  color: var(--foreground);
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 70px;
}

.headerLogo {
  width: 70px;
  height: auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.titlePhoto {
  width: 100%;
  height: auto;
}

.githubLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.content {
  margin-top: 40px;
}

.content h2 {
  padding: 10px 0px;
  text-decoration: underline;
}

.overviewImage {
  width: 100%;
  height: auto;
}

.cacheBenefit {
  display: flex;
  flex-direction: column;
}

.cacheBenefitTitle {
  color: var(--success);
  padding: 10px 0px;
}

.cacheBenefitBody {
  padding-left: 30px;
}

@media (max-width: 600px) {
  .header {
    margin-top: 20px;
  }

  .titleText {
    font-size: 5vw;
  }
}
