.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button {
  background-color: var(--foreground);
  color: var(--real-background);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 0.5px solid grey;
  font-family: 'ibmPlexSansMedium';
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.button:hover {
  background-color: var(--real-background);
  color: var(--foreground);
}

@media (max-width: 678px) {
  .button {
    font-size: 16px;
  }
}
