.card {
  border: 1px solid var(--border);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 1);
  }
}
