.card {
  border: 1px solid var(--border);
  box-shadow: 0px 0px 10px rgb(129, 129, 129);
  background-color: var(--background);
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: 0px 0px 10px rgb(15, 15, 15);
    background-color: rgb(35, 37, 40);
  }
}

@media (max-width: 420px) {
  .card {
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
}
