.card {
  border: 1px solid rgb(117, 117, 117);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  .card {
    border: 1px solid rgb(37, 37, 37);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 1);
  }
}
