.stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.value {
  font-size: 18px;
}

.valueName {
  font-weight: normal;
  font-size: 13px;
  color: grey;
}

@media (max-width: 678px) {
  .value {
    font-size: 18px;
  }

  .valueName {
    font-size: 11px;
  }
}
