.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 900;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.button:hover {
  background-color: white;
  color: black;
}

@media (max-width: 678px) {
  .button {
    font-size: 16px;
  }
}
