.games {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px;
  gap: 15px;
  flex-wrap: wrap;
}

.game {
  border: 1px solid var(--border);
  padding: 0px !important;
}

.gameLink {
  height: 100%;
  display: flex;
  color: var(--foreground);
  text-decoration: none;
}

.gameDetails {
  display: flex;
  flex-direction: column;
}

.statsContainer {
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  margin: 0px 30px;
  height: 100%;
}

.inGame {
  color: var(--success);
  text-align: center;
  font-weight: bold;
  background-color: rgba(18.8%, 80.8%, 45.9%, 0.1);
  padding: 5px;
}

.stats {
  flex-direction: column;
  gap: 35px !important;
  justify-content: space-around !important;
}

.headerImage {
  max-width: 120px;
  height: auto;
}
