.description {
  padding: 15px 0px;
}

.games {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gameLink {
  position: relative;
}

.playTime {
  position: absolute;
  bottom: 0px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  border: 0.5px solid rgb(68, 68, 68, 0.4);
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 3px 0px;
  font-weight: 700;
  font-size: 14px;
}

@media (max-width: 678px) {
  .game {
    flex-direction: column;
  }

  .games {
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .games {
    height: 830px; /* 207.5px each */
    overflow-y: hidden;
  }
}
