.description {
  padding: 15px 0px;
}

.games {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.gameCovers {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 50%;
}

.gameLink {
  position: relative;
}

.libraryRanking {
  position: absolute;
  bottom: 0px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  border: 0.5px solid rgb(68, 68, 68, 0.4);
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 3px 0px;
  font-weight: 700;
  font-size: 14px;
}

.gameTable {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameTable th {
  text-decoration: underline;
  font-weight: 900;
  padding: 0px 15px;
}

.gameTable tr {
  border: 1px dotted rgb(66, 66, 66);
}

.gameRank {
  padding: 0px !important;
  text-align: right;
}

.gamePlaytime {
  text-align: center;
}

.gameName {
  text-decoration: underline;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 5px !important;
  gap: 10px;
}

.gameProgressValue {
  width: 35px;
  text-align: right;
  padding-right: 5px;
}

.gameProgressBar {
  max-width: 80px;
  appearance: none;
  height: 14px;
}

.gameProgressBar::-webkit-progress-bar {
  background-color: var(--background);
  color: var(--success);
  height: 14px;
  border: 0.5px solid rgb(76, 76, 76);
}

.gameProgressBar::-webkit-progress-value {
  background-color: #e1dc3f;
}

.gameProgressContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1400px) {
  .gamePlaytime {
    display: none;
  }

  .gamePlaytimeHeader {
    display: none;
  }
}

@media (max-width: 1150px) {
  .games {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .gameCovers {
    max-width: 800px;
    width: 100%;
  }

  .gameTable {
    max-width: 800px;
    width: 100%;
  }

  .gameProgressBar {
    max-width: 100px;
    width: 100%;
  }

  .gameTable td {
    padding: 0px 0px;
  }
}
