.container {
  overflow: hidden;
  display: inline-flex;
  max-width: 255px;
  width: 100%;
  gap: 20px;
}

.text {
  white-space: nowrap;
  z-index: -1;
  font-size: 20px !important;
}

.scroll {
  animation: scroll 9s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@media (max-width: 450px) {
  .container {
    width: 50vw;
  }
}
