.activities {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.activity {
  max-width: 600px;
}

.info {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.title {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
}

.icon {
  padding-right: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (prefers-color-scheme: dark) {
  .icon {
    filter: invert(100%) sepia(79%) saturate(0%) hue-rotate(104deg)
      brightness(112%) contrast(101%);
  }
}

@media (max-width: 678px) {
  .info {
    flex-direction: column;
    align-items: center;
  }
}
