.highlightedProjectLanguage {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.highlightedProject {
  max-width: 400px;
  width: 100%;
}

.highlightedProjectHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.highlightedProjectName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.name {
  border: 1px solid var(--green-border);
  background-color: var(--green-background);
  padding: 1px 5px;
  color: var(--green-foreground);
}

.highlightedProjectDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.highlightedProjectUpdated {
  font-size: 14px !important;
  color: grey;
  margin-top: 10px;
}

.highlightedProjectLanguageCircle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
}

.cardLink {
  color: var(--foreground) !important;
  text-decoration: none;
}
