.highlightedProjectLanguage {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.highlightedProject {
  max-width: 400px;
  width: 100%;
}

.highlightedProjectHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.highlightedProjectName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.name {
  border: 1px solid rgb(40 86 61);
  background-color: rgb(37 54 48);
  padding: 1px 5px;
  color: #16df6d;
}

.highlightedProjectDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.highlightedProjectUpdated {
  font-size: 14px !important;
  color: grey;
  margin-top: 10px;
}

.highlightedProjectLanguageCircle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
}

.cardLink {
  color: var(--foreground) !important;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  .name {
    background-color: rgb(45, 112, 74);
    border: 1px solid rgb(38, 76, 57);
  }
}
