.fileIcon {
  vertical-align: bottom;
  position: relative;
  padding-right: 5px;
  padding-left: 2px;
  bottom: -2px;
}

.resume {
  align-items: center;
  height: 15px;
  text-decoration: underline;
}
