.scrollContainer {
  max-width: 100%;
  overflow-y: scroll;
  aspect-ratio: 440/240;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.exerciseNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(18.8%, 80.8%, 45.9%, 0.1);
  border-right: 0;
  border-left: 0;
  font-size: 15px;
  background: repeating-linear-gradient(
    -45deg,
    rgba(54, 234, 132, 0.2) 0 1px,
    var(--real-background) 1px 6px
  );
}

.exerciseNameText {
  background-color: rgba(18.8%, 80.8%, 45.9%, 0.3);
  backdrop-filter: blur(10px);
  padding: 1px 8px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--foreground);
  text-decoration: none;
}

.setNumber {
  border: 1.5px solid var(--border);
  background-color: rgb(46, 49, 52);
  padding: 3px 7px;
  font-size: 13px;
}

.sets {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  margin: 5px 0px;
}

.set {
  align-items: center;
  display: flex;
  gap: 7px;
  width: 155px;
  font-size: 15px;
}

@media (prefers-color-scheme: light) {
  .setNumber {
    background-color: rgb(205, 205, 205);
  }
}

@media (max-width: 400px) {
  .set {
    font-size: 15px !important;
    width: 155px;
  }

  .sets {
    gap: 3px;
  }
}
