.scrollContainer {
  max-width: 100%;
  overflow-y: scroll;
  aspect-ratio: 440/240;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.exerciseName {
  width: 100%;
  border: 1.5px solid var(--border);
  background-color: rgb(34, 37, 39);
  padding: 3px 0px;
  font-size: 15px;
}

.setNumber {
  border: 1.5px solid var(--border);
  background-color: rgb(34, 37, 39);
  padding: 3px 7px;
  font-size: 13px;
}

.sets {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin: 5px 0px;
}

.set {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

@media (prefers-color-scheme: light) {
  .exerciseName,
  .setNumber {
    background-color: rgb(205, 205, 205);
  }
}
