.time {
  color: grey;
  width: fit-content;
  font-size: clamp(13px, 0.7vw, 8px);
}

@media (max-width: 678px) {
  .time {
    font-size: 80%;
  }
}

@media (max-width: 380px) {
  .time {
    font-size: 11px;
  }
}
