.activities {
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.info {
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.title {
  display: flex;
  padding-bottom: 5px;
}

.details {
  font-weight: 900;
  margin-right: 40px;
}

.icon {
  padding-right: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
}

.viewOnStrava {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

@media (max-width: 678px) {
  .details {
    margin-right: 0px;
  }
}
