.activities {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.title {
  display: flex;
  overflow: hidden;
  text-wrap: nowrap;
}

.titleText {
  font-size: 22px;
  text-decoration: underline;
}

.details {
  font-weight: 900;
  width: 200px;
}

.icon {
  margin-right: 10px;
  padding: 2px 3px;
}

.stats {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

.viewOnStrava {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.map {
  border-radius: 5px;
}

.value {
  font-size: 20px;
  font-weight: 900;
}

.valueName {
  font-weight: normal;
  font-size: 13px;
  color: grey;
}

.activity {
  border: 1px solid rgb(117, 117, 117);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

@media (max-width: 678px) {
  .details {
    margin-right: 0px;
    width: 155px;
  }

  .value {
    font-size: 18px;
  }

  .valueName {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .map {
    width: 170px;
    height: 170px;
  }

  .title {
    max-width: 340px;
  }

  .titleText {
    font-size: 20px;
  }

  .icon {
    width: 24px;
    height: auto;
  }
}

@media (prefers-color-scheme: dark) {
  .activity {
    border: 1px solid rgb(37, 37, 37);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 1);
  }
}
