/* VARIABLES */
:root {
  --link: #2b95ff;
  --success: #30ce75;

  --live-color: rgb(243, 9, 40);
  --live-color-dimmed: rgba(243, 9, 40, 0.4);
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
    --background: rgb(28, 31, 33);
    --border: rgb(46, 46, 46);
  }

  html {
    color-scheme: dark;
  }
}

/* LIGHT MODE */
@media (prefers-color-scheme: light) {
  :root {
    --foreground: rgb(28, 31, 33);
    --background: #dddddd;
    --border: rgb(217, 217, 217);
  }

  html {
    color-scheme: light;
  }
}

::selection {
  background-color: var(--foreground);
  text-decoration-color: var(--background);
  color: var(--background);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'zero';
  scrollbar-width: 0.2rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: var(--link);
}

p {
  font-size: 16px;
}

sup {
  font-size: 12px;
}

img {
  -webkit-user-drag: none;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h2::selection {
  background-color: var(--background);
  text-decoration-color: var(--foreground);
  color: var(--foreground);
}

*::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background: var(--foreground);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
