/* LIGHT MODE */
:root {
  --foreground: black;
  --background: white;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
  --foreground: white;
  --background: rgb(25, 25, 28);
  }

  html {
    color-scheme: dark;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  margin: 0;
}
