/* LIGHT MODE */
:root {
  --foreground: black;
  --background: white;
  --link: #49a4ff;
  --border: rgb(117, 117, 117);

  --live-color: rgb(243, 9, 40);
  --live-color-dimmed: rgba(243, 9, 40, 0.4);

  --success: #30ce75;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
    --background: rgb(23, 23, 28);
    --border: rgb(46, 46, 46);
  }

  html {
    color-scheme: dark;
  }
}

::selection {
  background-color: var(--foreground);
  text-decoration-color: var(--background);
  color: var(--background);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: var(--link);
}

p {
  font-size: 16px;
}

img {
  -webkit-user-drag: none;
}
