.main {
  padding: 30px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.nav {
  padding-left: 15px;
}

.header {
  max-width: 1500px;
  width: 100%;
}

.introduction {
  padding-top: 20px;
  max-width: 1200px;
}

.caches {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 60px;
  row-gap: 20px;
}

.sections {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex: 50%;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.sectionLoadingIcon {
  width: 100px;
  height: 100px;
}

@media (max-width: 678px) {
  .main {
    padding: 10px;
  }

  .nav {
    padding-left: 0px;
  }

  .introduction {
    padding-top: 40px;
  }
}

@media (max-width: 380px) {
  .main {
    padding: 4px;
  }
}
