.lastUpdated {
  text-align: right;
  font-weight: 900;
  color: grey;
  margin-top: 10px;
}

.cachedAndProcessed {
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: flex-end;
  color: var(--success);
}

.link {
  color: var(--success);
}

@media (max-width: 678px) {
  .lastUpdateExact {
    display: none;
  }

  .lastUpdated {
    text-align: center;
    font-size: 14px;
  }

  .cachedAndProcessed {
    justify-content: center;
  }
}
