.lastUpdated {
  text-align: right;
  font-weight: 900;
  color: grey;
  margin-top: 10px;
}

.cachedAndProcessed {
  color: #30ce75;
}

.link {
  color: #30ce75;
}

@media (max-width: 678px) {
  .lastUpdateExact {
    display: none;
  }

  .lastUpdated {
    text-align: center;
    font-size: 14px;
  }
}
