.section {
  max-width: 1500px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: flex-start;
}

.title {
  background-color: var(--foreground);
  color: var(--background);
  width: min-content;
  padding: 3px 10px;
  font-size: 25px;
  border-radius: 3px;
}

.description {
  padding: 15px 0px;
  text-align: justify;
}

.liveFrom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--live-color);
  font-weight: 900;
}

.liveFromTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  border: solid 2px var(--live-color);
  padding: 5px 10px;
  height: 23px;
}

.liveCircle {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--live-color);
  cursor: pointer;
  box-shadow: 0 0 0 var(--live-color-dimmed);
  animation: dot--fade 0.8s linear alternate infinite;
}

.liveSourceLink {
  color: var(--live-color);
  text-decoration-thickness: 0.5px;
}

@media (max-width: 400px) {
  .card {
    border: none;
    padding: 0px;
    box-shadow: none;
  }
}

@-webkit-keyframes dot--fade {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes dot--fade {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
