.section {
  max-width: 1500px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: flex-start;
}

.title {
  background-color: var(--foreground);
  color: var(--background);
  width: min-content;
  padding: 3px 10px;
  font-size: 25px;
  border-radius: 3px;
  font-weight: 800;
}

@media (prefers-color-scheme: light) {
  .title {
    color: white;
  }
}

.description {
  padding: 15px 0px;
  text-align: justify;
}

.liveFrom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--live-color);
  font-weight: 900;
}

.liveFromTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  background-color: rgba(243, 9, 40, 0.13);
  border-radius: 2px;
  margin: 0;
}

.liveCircle {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--live-color);
  cursor: pointer;
  box-shadow: 0 0 0 var(--live-color-dimmed);
  animation: dot--fade 0.4s linear alternate infinite;
}

.liveSourceLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--live-color);
  text-decoration: none;
}

.logoIcon {
  filter: invert(30%) sepia(26%) saturate(5293%) hue-rotate(342deg)
    brightness(102%) contrast(97%);
}

.logoIcons {
  display: flex;
  gap: 7px;
}

@media (max-width: 480px) {
  .card {
    border: none;
    padding: 0px;
    box-shadow: none;
  }

  .liveFromTitle {
    padding: 1px 5px;
    height: 25px;
    margin-right: 2px;
    margin-top: 2px;
  }

  .logoIcons {
    display: none;
  }
}

@-webkit-keyframes dot--fade {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes dot--fade {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
