.section {
  max-width: 575px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  background-color: var(--foreground);
  color: var(--background);
  width: min-content;
  padding: 5px 8px;
}

.description {
  padding: 15px 0px;
  text-align: justify;
}

@media (max-width: 950px) {
  .section {
    max-width: none;
  }
}
