.lastUpdated {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 3px;
}

.icon {
  filter: invert(75%) sepia(16%) saturate(2231%) hue-rotate(85deg)
    brightness(89%) contrast(87%);
}

.cachedAndProcessed {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  color: var(--green-foreground);
  border: 1px solid var(--green-border);
  background-color: var(--green-background);
  padding: 4px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.text {
  font-size: 13.5px;
}

.updated {
  font-size: 13px;
}

.link {
  color: var(--success);
}

@media (prefers-color-scheme: light) {
  .icon {
    filter: invert(16%) sepia(85%) saturate(1241%) hue-rotate(106deg)
      brightness(98%) contrast(104%);
  }
}

@media (max-width: 678px) {
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .cachedAndProcessed {
    border-radius: 5px;
    margin: 0px 5px;
  }
}
