.lastUpdated {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 3px;
}

.cachedAndProcessed {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #16df6d;
  border: 1px solid rgb(40 86 61);
  background-color: rgb(37 54 48);
  padding: 4px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.text {
  font-size: 13.5px;
}

.updated {
  font-size: 13px;
}

.link {
  color: var(--success);
}

@media (prefers-color-scheme: light) {
  .icon {
    display: none;
  }

  .cachedAndProcessed {
    color: #16df6d;
    border: 1px solid rgb(37 54 48);
    background-color: rgb(50, 124, 82);
  }
}

@media (max-width: 678px) {
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .icon {
    display: none;
  }

  .cachedAndProcessed {
    border-radius: 5px;
    margin: 0px 5px;
  }
}
