.lastUpdated {
  text-align: right;
  color: grey;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}

.cachedAndProcessed {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  color: var(--success);
  background-color: rgba(18.8%, 80.8%, 45.9%, 0.1);
  padding: 3px 10px;
  border-radius: 2px;
  font-size: 14px;
}

.updated {
  font-size: 13px;
}

.link {
  color: var(--success);
}

@media (max-width: 678px) {
  .lastUpdateExact {
    display: none;
  }

  .lastUpdated {
    text-align: center;
    font-size: 14px;
  }

  .cachedAndProcessed {
    justify-content: center;
  }
}
