.photos {
  padding-top: 10px;
  height: max-content;
}

.text {
  padding: 0 10px;
}

.viewMore {
  margin-bottom: 10px;
}

@media (max-width: 678px) {
  .photos {
    gap: 5px;
  }

  .photo {
    height: 250px;
    width: auto;
  }
}

@media (max-width: 400px) {
  .photo {
    width: var(--photo-mobile-width);
    height: auto;
  }
}
