.root {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.personal {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  gap: 10px;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.nameAndDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.name {
  font-size: 64px;
  line-height: 75%;
  margin-bottom: 4px;
}

.logo {
  height: 150px;
  width: auto;
}

@media (max-width: 678px) {
  .root {
    flex-direction: column;
    align-items: center;
  }

  .nameAndDescription {
    align-items: center;
  }

  .name {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15vw;
  }

  .personal {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 20px;
  }

  .socials {
    flex-direction: row;
    padding: 0;
    gap: 30px;
  }

  .logo {
    width: 60vw;
    height: auto;
  }
}
