.m {
    fill: var(--foreground);
}

.lines {
    stroke: var(--foreground);
    animation: spin infinite 20s linear;
    transform-origin: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}