.sections {
  margin: 10px 5px;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.section {
  width: calc(50% - 5px);
  box-sizing: border-box;
}

.sectionTitle {
  text-align: center;
  padding: 5px 0px;
}

.recentSongsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recentSongs {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.recentSong {
  width: calc(33.3333% - 10px) !important;
  box-sizing: border-box;
}

.recentSongAlbumArt {
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.playlists {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
