.sections {
  display: flex;
  gap: 10px;
  align-items: stretch;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(50% - 5px);
  flex: 1;
  position: relative;
  margin-top: 10px;
}

.sectionTitle {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(51, 51, 52, 0.5);
  text-align: center;
  padding: 5px 0px;
  z-index: 3;
  border: 1px solid var(--border);
}

.recentSongsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.recentSongs {
  display: flex;
  gap: 15px;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.recentSong {
  width: calc(33% - 10px) !important;
}

.recentSongAlbumArt {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}

.fourthRecentSong {
  display: none !important;
}

.fourthPlaylist {
  display: none;
}

@media (max-width: 1000px) {
  .sections {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 1000px) and (min-width: 525px) {
  .section {
    width: 100%;
  }

  .recentSong {
    width: calc(33% - 20px);
  }
}

@media (max-width: 525px) {
  .recentSongs {
    width: 100%;
    flex-wrap: wrap;
    padding-top: 5px;
    gap: 10px;
  }

  .playlists {
    width: 100%;
    flex-wrap: wrap;
  }

  .section {
    width: calc(100% - 15px);
  }

  .sections {
    align-items: center;
  }

  .fourthPlaylist {
    display: block;
  }

  .fourthRecentSong {
    display: block !important;
    width: calc(50% - 10px) !important;
  }

  .recentSong {
    width: calc(50% - 10px) !important;
  }
}

@media (max-width: 430px) {
  .sections {
    margin: 10px 0px;
  }
}
