.song {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 3px;
}

.track,
.artist {
  font-size: 14px;
  overflow: hidden;
}

.albumArt {
  border-radius: 4px;
  aspect-ratio: 1/1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.songText {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  font-size: 14px !important;
  color: var(--foreground);
}

.artist {
  color: grey;
  font-weight: 400;
}

@media (max-width: 400px) {
  .track,
  .artist {
    font-size: 13px;
  }
}
