.song {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 3px;
}

.albumArt {
  border-radius: 4px;
  aspect-ratio: 1/1;
}

.songText {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  font-size: 14px !important;
  color: var(--foreground);
}

.artist {
  color: grey;
}

@media (max-width: 400px) {
  .track {
    font-size: 13px;
  }

  .artist {
    font-size: 13px;
  }
}
